version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: frequency-chat-app
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d frequency-chat-app"]
      interval: 10s
      timeout: 5s
      retries: 5


  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"   # RabbitMQ port
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  cpp-runtime:
    build:
      context: ./containers/cpp-runtime
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    deploy:
      replicas: 3
    depends_on:
      rabbitmq:
        condition: service_healthy

  javascript-runtime:
    build:
      context: ./containers/javascript-runtime
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    deploy:
      replicas: 3
    depends_on:
      rabbitmq:
        condition: service_healthy

  python-runtime:
    build:
      context: ./containers/python-runtime
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    deploy:
      replicas: 3
    depends_on:
      rabbitmq:
        condition: service_healthy

volumes:
  postgres_data:
  redis_data:

networks:
  default:
    name: app-network
