# Server Configuration
PORT=8000
NODE_ENV=development
WEB_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://admin:admin123@localhost:5432/slope?schema=public"

# Message Queue
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

# AWS Configuration (Optional for local development if not using ECS runner)
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

# ECS Configuration (Optional for local development)
ECS_CLUSTER_ARN=
ECS_TASK_DEFINITION_ARN=
ECS_CONTAINER_NAME=code-runner-container
ECS_SUBNETS=
ECS_SECURITY_GROUPS=
