# Server Configuration
PORT=4000
NODE_ENV=development
WEB_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://admin:admin123@localhost:5432/slope?schema=public"

# Message Queue
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

# Better Auth
BETTER_AUTH_URL=http://localhost:4000
# Generate a secret using `openssl rand -base64 32` or similar
BETTER_AUTH_SECRET=changeme_in_production

# Google OAuth (Optional)
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# AWS Configuration
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

# ECS Configuration
ECS_CLUSTER_ARN=
ECS_TASK_DEFINITION_ARN=
ECS_CONTAINER_NAME=code-runner-container
ECS_SUBNETS=
ECS_SECURITY_GROUPS=
